.card-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px;
}

.loader {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}