nav {
    width: 100%;
    border-bottom: 2px solid black;
}

.gif {
    height: 160px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    top: 0;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}

.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
}
